.login-container{
    display: block;
    width: 330px;
    height: 350px;
    padding: 0 20px 20px 20px;
    background: white;
    border: 1px solid #ccc;
    border-radius: 5px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -165px;
    margin-left: -165px;
}
::-webkit-scrollbar{
    height:10px;
    width:10px;
    background:#FFF;
}
::-webkit-scrollbar-thumb{
    background:#BBB;
    border:solid 2px #FFF;
}
::-webkit-scrollbar-thumb:hover{
    background:#888;
}
::-moz-scrollbar{
    height:10px;
    width:10px;
    background:#FFF;
}
::-moz-scrollbar-thumb{
    background:#BBB;
    border:solid 2px #FFF;
}
::-moz-scrollbar-thumb:hover{
    background:#888;
}

.bubble-dialog {
    white-space: pre-line;
    line-height:0;
}

.bubble-left,
.bubble-left,
.bubble-right {
    line-height: 100%;
    display: block;
    position: relative;
    padding: .25em .5em;
    background: #dcf0ff;
    border: blue solid 3px;
    -webkit-border-radius: 11px;
    -moz-border-radius: 11px;
    border-radius: 11px;
    margin-bottom: 2em;
    clear: both;
    max-width:50%;
}


.bubble-left {
    float: left;       
    margin-right:10%;
}
.bubble-right {
    float:right;
    margin-left:10%
}

.bubble-left:after,
.bubble-left:before,
.bubble-right:after,
.bubble-right:before {
    content: "";
    position: absolute;
    top: 21px;
    border-style: solid;
    border-width: 13px 17px 13px 0;
    border-color: blue;
    display: block;
    width: 0;
}

.bubble-left:after,
.bubble-left:before {
    border-width: 13px 17px 13px 0;
    border-color: transparent blue;
}

.bubble-right:after,
.bubble-right:before {
    border-width: 13px 0 13px 17px;
    border-color: transparent blue;
}

.bubble-left:after {
    left: -16px;
    border-color: transparent blue;
    z-index: 1;
}

.bubble-left:before {
    left: -19px;
    border-color: transparent blue;
    z-index: 0;
}

.bubble-right:after {
    right:-16px;
    border-color: transparent blue;
    z-index: 1;
}

.bubble-right:before {
    right:-19px;
    border-color: transparent blue;
    z-index: 0;
}


